In [32]:
import pandas as pd

In [48]:
import csv

# Open the input CSV file and create a new output CSV file
with open('DataLiens.csv', 'r', encoding='utf-8', newline='') as infile, open('NewDataLiens.csv', 'w', encoding='utf-8', newline='') as outfile:
    reader = csv.reader(infile)
    writer = csv.writer(outfile)

    # Iterate over each row in the input file
    for row in reader:
        # Check the number of columns in the row
        num_cols = len(row)
        if num_cols < 176:
            # Add empty values to make the row have 176 columns
            row += [''] * (176 - num_cols)
        elif num_cols > 176:
            # Trim the row to have 176 columns
            row = row[:176]

        # Write the modified row to the output file
        writer.writerow(row)

In [46]:
import chardet

with open('DataLiens.csv', 'rb') as f:
    raw_data = f.read()
    encoding = chardet.detect(raw_data)['encoding']
    print(encoding)

utf-8

In [58]:
# import NewDataLiens.csv as a dataframe
df = pd.read_csv('NewDataLiens.csv', encoding='utf-8')

df.head()
# df.info()

C:\Users\rhihi\AppData\Local\Temp\ipykernel_17828\334335676.py:2: DtypeWarning: Columns (18,21,24,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NewDataLiens.csv', encoding='utf-8')

,1,2,3,4,5,6,7,8,9,10,...,167,168,169,170,171,172,173,174,175,176
0,15,Ishøj Kommunes Varmeforsyning,11931316-1003272783-0298-20041001,2005-01-01,2012-12-31,NaN,NaN,NaN,2005,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,431,Firma Kwekerij RIMATO,NL-200900062,2009-10-22,2012-05-29,NaN,NaN,NaN,2009,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,76,Thermokon d.o.o.,SI-35433-48-2004,2005-01-01,2021-12-23,NaN,NaN,NaN,2005,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,185,ΣΤΑΘΜΟΣ ΠΑΡΑΓΩΓΗΣ ΗΛΕΚΤΡΙΚΗΣ ΕΝΕΡΓΕΙΑΣ ΘΙΣΒΗΣ,1-36,2011-04-15,NaN,"ELPEDISON-ΕΝΕΡΓΕΙΑΚΗ ΑΕ,ELPEDISON-ΕΝΕΡΓΕΙΑΚΗ ΑΕ",ELPEDISON ΠΑΡΑΓΩΓΗ ΗΛΕΚΤΡΙΚΗΣ ΕΝΕΡΓΕΙΑΣ Α.Ε.,NaN,2011,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200697,33859,33859-10/12/2009-V1,2012-01-01,NaN,NaN,NaN,NaN,NaN,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
import csv

headers = [str(i) for i in range(1, 177)]  # create a list of headers from 1 to 176

# Open the CSV file in read and write mode
with open('NewDataLiens.csv', 'r+', encoding='utf-8', newline='') as csvfile:
    reader = csv.reader(csvfile)
    writer = csv.writer(csvfile)

    # Read the existing data and store it in a list
    data = [row for row in reader]

    # Go back to the beginning of the file and write the headers
    csvfile.seek(0)
    writer.writerow(headers)

    # Write the existing data after the headers
    writer.writerows(data)

In [ ]:
# check for duplicates
df.duplicated().sum()

# show duplicates
df[df.duplicated()]